.completed {
  overflow-y: auto;
}

.completed-main-header {
  text-align: center;
  background-color: #b85042;
  color: white;
  border-bottom: 10px solid white;
  padding: 8px 0px;
  margin-right: 10px;
  margin-left: 10px;
}

.completed-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  margin: 10px 10px;
  /* box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.249); */
  transition: 0.3s ease-in;
  cursor: pointer;
}

.completed-box:hover {
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.249);
  scale: 1.004;
}

.parent-completed-row1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: line-through #2e2e2e;
}

.completed-row1 {
  display: flex;
  align-items: center;
  width: 100%;
}

.completed-row1-header {
  color: rgb(46, 46, 46);
  margin: 0;
  user-select: none;
  cursor: pointer;
}

.completed-row1-checkbox {
  height: 40px;
  width: 40px;
  margin: 10px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
}
.completed-delete-icon {
  color: rgb(46, 46, 46);
  height: 40px;
  font-size: 40px;
  width: 40px;
  margin: 10px;
  cursor: pointer;
}

.hold-sort {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: #e7e8d1;
  cursor: pointer;
  transition: 0.3s ease-in;
  border-bottom: 10px solid whitesmoke;
}

.hold-sort:hover {
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.249);
  scale: 1.004;
}

.sort-header {
  margin: 0;
  color: #b85042;
}

.completed-sort-icon {
  color: #b85042;
  height: 40px;
  font-size: 40px;
  width: 40px;
  margin: 10px;
  cursor: pointer;
}

/* ! */
@media (max-width: 768px){

  .hold-sort{
    height: 40px;
  border-bottom: 5px solid whitesmoke;

  }
  .sort-header{
    font-size: 20px;
  }
}

@media (max-width: 445px){
  .completed-row1-header{
    font-size: 16px;
  }
  .row-two-header {
    font-size: 12px !important;
    padding: 4px 4px;
  }

  .hold-sort{
    height: 30px;
  border-bottom: 5px solid whitesmoke;

  }
  .sort-header{
    font-size: 16px;
  }

  .completed-sort-icon {
    font-size: 20px;
  }
}

@media (max-width: 425px){

  .completed-main-header{
    font-size: 22px;
  }
  .completed-row1-checkbox{
    height: 20px !important;
    width: 20px !important;
  }

  .completed-delete-icon {
    font-size: 20px;
    }
}

 @media (max-width: 320px){
  .completed-main-header{
    font-size: 20px;
  }

  .hold-sort{
    height: 20px;
  border-bottom: 5px solid whitesmoke;

  }
  .sort-header{
    font-size: 10px;
  }

  .completed-sort-icon {
    font-size: 20px;
  }

 }