@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@600&display=swap");
.home-wrapper {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  /* height: 100vh; */
  min-height: 100%;
  /* overflow: hidden; */
  background-color: #a7beae;
  /* position: relative; */
}

.random {
  background-color: red;
  width: 100%;
  height: 100%;
}

.left-home {
  display: none;
  width: 15%;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #e7e8d1;
  min-height: 100vh;
  position: absolute;
  z-index: 997;

  background-color: red;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.305);
}

.left-home-hide {
  display: none;
  width: 15%;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #e7e8d1;
  min-height: 100vh;
  position: absolute;
  z-index: 997;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.305);
}

.fill {
  position: absolute;
  height: 100%;
  width: 99.8%;
  background-color: rgba(0, 0, 0, 0.268);
  z-index: 990;
  backdrop-filter: blur(5px);
}

.left-icon-absolute {
  position: absolute;
  height: max-content;
  left: 15%;
  backdrop-filter: blur(5px);
  background-color: #e7e8d1;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  left: 0;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.305);
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.left-icon-absolute-in {
  position: absolute;
  height: max-content;
  backdrop-filter: blur(5px);
  background-color: #e7e8d1;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 15%;
  top: 24px;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.305);
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icon-class {
  color: #b85042;
  font-size: 50px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
  color: black;
  color: #006aff;
  color: rgb(46, 46, 46);
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  margin: 0;
}

.headers-left-home {
  border-bottom: 1px solid whitesmoke;
  text-align: center;
  margin: 0;
  color: #006aff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(46, 46, 46);
}

.headers-left-home-active {
  border-bottom: 1px solid whitesmoke;
  text-align: center;
  margin: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #006aff;
  color: rgb(46, 46, 46);
  /* color: #B85042; */
  color: black;
  background-color: #dadbc55e;
}

.right-home {
  width: 85%;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  /* overflow: hidden !important; Make sure overflowing content is hidden */
  /* padding: 20px 50px 50px 50px; */
}

.assign {
  /* border: 1px solid red; */
  color: white;
}
.main-assign-wrapper {
  border: 2px solid red;
}
.assign-wrapper {
  display: flex;
  flex-direction: column;
  /* padding: 0px 60px 0px 60px; */
  /* border: 1px solid yellow; */
  height: 100%;
  overflow-y: hidden;
}

.main-assign-h1 {
  text-align: center;
  background-color: #b85042;
  color: white;
  border-bottom: 10px solid white;
  padding: 8px 0px;
}

.assign-gmail {
  padding: 10px;
  font-size: 20px;
  /* background-color:  rgb(0, 106, 255); */
  /* background-color: black; */
  color: rgb(46, 46, 46);
}

.assign-gmail:focus {
  outline: none;
}

.assign-title {
  padding: 15px;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(46, 46, 46);
}

/* .assign-title:hover , .assign-desc:hover{
    background-color: black;
    border: 1px solid black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
} */

.assign-desc {
  padding: 15px;
  font-size: 20px;
  height: 300px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  /* color: rgb(46, 46, 46); */
}

.assign-title:focus,
.assign-desc:focus {
  /* background-color: black;
    border: 1px solid black; */
  /* color: rgb(215, 215, 215); */
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  font-weight: 100;
}
.assign-common-input {
  margin: 10px;
  border: none;
}

.assign-cancel {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.btn-assign {
  padding: 8px;
  margin: 0px 10px;
  background-color: #006aff;
  border: 1px solid black;
  color: white;
  border-radius: 9px;
  font-weight: bolder;
  border: none;
  transition: 0.3s ease-in;
}

.btn-discard {
  padding: 8px;
  border-radius: 9px;
  font-weight: bolder;
  border: none;
  transition: 0.3s ease-in;
}

.btn-assign:hover,
.btn-discard:hover {
  scale: 1.1;
  cursor: pointer;
}

.forwardTask {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.forwardTask-header {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e7e8d1;
  background-color: #b85042;
  padding: 0;
  margin: 0;
  height: 50px;
  width: 100%;
}

.box {
  background-color: white;
  margin: 60px 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.hold-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.another-hold {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-title {
  color: rgb(46, 46, 46);
  margin: 0;
}

.main-desc {
  margin: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-top: 10px solid #b85042;
  border-top: 10px solid #2e2e2e;
  width: 100%;
}

.icon-dropdown {
  color: #2e2e2e;
  font-size: 50px;
}
.parent-task-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.task-desc {
  color: #2e2e2e;
  width: 100%;
}

/* ! */
@media (min-width: 768px) {
  .home-wrapper {
    width: 100%;
  }

  .left-home {
    width: max-content;
  }
  .right-home {
    width: 100%;
    position: relative;
  }

  .profile,
  .headers-left-home {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px 10px;
  }

  .headers-left-home-active {
    font-size: 20px;
    font-weight: bolder;
    padding: 0px 10px;
  }

  .row-two-header {
    font-size: 12px !important;
    padding: 4px 4px;
  }
}

@media (max-width: 767px) {
  .home-wrapper {
    width: 100%;
  }

  .left-home-hide {
    width: 200px;
  }

  .left-icon-absolute-in {
    left: 200px;
    top: 24px;
  }

  .left-icon-absolute {
    top: 24px;
    left: 0;
  }

  .icon-class {
    color: #b85042;
    font-size: 30px;
  }

  .right-home {
    width: 100%;
    position: relative;
  }

  .profile,
  .headers-left-home {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px 10px;
  }

  .headers-left-home-active {
    font-size: 20px;
    font-weight: bolder;
    padding: 0px 10px;
  }

  .row-two-header {
    font-size: 12px !important;
    padding: 4px 4px;
  }
}

@media (max-width: 445px) {
  .right-home {
    background-color: #a7beae;
  }

  .task-header-userside {
    font-size: 16px;
  }

  .left-home-hide {
    width: 180px;
  }

  .left-icon-absolute-in {
    left: 180px;
    top: 24px;
  }

  .icon-class {
    font-size: 25px;
  }
}

@media (max-width: 425px) {
  .left-home-hide {
    width: 150px;
  }

  .left-icon-absolute-in {
    left: 150px;
  }

  .icon-class {
    font-size: 22px;
  }

  .headers-left-home,
  .headers-left-home-active,
  .profile {
    font-size: 15px;
  }

  .right-home {
    background-color: #a7beae;
  }

  .main-assign-h1 {
    font-size: 22px;
  }
  .task-header-userside {
    font-size: 16px;
  }

  .checkbox-class {
    height: 20px !important;
    width: 20px !important;
  }
  .delete-icon,
  .arrow-icon {
    height: 20px !important;
    font-size: 20px !important;
  }

  .row-one {
    padding: 0px 0px;
  }

  .row-two-header {
    font-size: 10px !important;
  }
}

@media (max-width: 375px) {
  .profile,
  .headers-left-home {
    color: black;
    font-size: 14px;
    height: 60px;
  }

  .headers-left-home-active {
    height: 60px;
    font-size: 14px;
    font-weight: bolder;
    padding: 0px 10px;
  }

  .row-two-header {
    font-size: 10px !important;
  }
  .row-one {
    padding: 0px 0px !important;
  }
}

@media (max-width: 320px) {
  .main-assign-h1 {
    font-size: 20px;
  }

  .task-header-userside {
    font-size: 14px;
  }
  .row-one {
    padding: 0px 0px;
  }

  .gmail-options {
    width: min-content;
    font-size: 15px;
    padding: 0;
    margin: 0;
    border: 1px solid black !important;
  }
}
